<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Principal</title>
    <link rel="stylesheet" href="app.component.scss">
</head>
<body>

    <div style="position: absolute; top: 1.5rem; right: 1.5rem; z-index: 10;">
        <app-profile></app-profile>
    </div>

    <main class="dashboard-layout">
        <div class="welcome-content">
            <div class="badge">today's date : 14/08/2026</div>
            <h1>Welcome to the employee directory<span>"COMPANY"</span></h1>
            <p>This is a website featuring an employee directory for a fictional company, built using Angular.</p>
        </div>
    </main>

</body>
</html>