<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal Principal</title>
    <link rel="stylesheet" href="app.component.scss">
</head>
<body>

    <div style="position: absolute; top: 1.5rem; right: 1.5rem; z-index: 10;">
        <app-profile></app-profile>
    </div>

    <div style="display: flex; flex-direction: column; gap: 40px; width: 100%; min-height: 100vh; justify-content: center; box-sizing: border-box; padding: 40px 0;">
        <app-dashboard></app-dashboard>
        <app-employee-grid></app-employee-grid>
    </div>

</body>
</html>